<!DOCTYPE html>
<html>
<head>
  <title>HnRankingAlgorithm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<center>
  <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
    <tr>
      <td bgcolor="#ff6600">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
          <tr>
              <td style="width:18px;padding-right:4px"><a href="http://controversialhn.com"><img src="y18.gif" width="18" height="18" style="border:1px #ffffff solid;"></a></td>
            <td style="line-height:12pt; height:10px;">
              <span class="pagetop">
                <b><a href="/">Controversial HN</a></b>
                <img src="s.gif" height="1" width="10">
                <span>Trending Hacker News stories that has been flagged<span>
              </span>
            </td>
            <td style="text-align:right;padding-right:4px;">
              <span class="pagetop">
                <a href="newest">new</a> |
              </span>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr style="height:10px"></tr>
    <tr>
      <td>
        <table border="0" cellpadding="0" cellspacing="0">
          <tr class='athing'>
            <td align="right" valign="top" class="title"><span class="rank">1.</span></td>
            <td>
              <center>
                <a id="up_10212770" href="vote?for=10212770&amp;dir=up&amp;goto=news">
                  <div class="votearrow" title="upvote"></div>
                </a>
              </center>
            </td>
            <td class="title"><span class="deadmark"></span><a href="https://github.com/ServiceManager/ServiceManager/blob/master/README.md">System XVI: A replacement for systemd</a><span class="sitebit comhead"> (github.com)</span></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_10212770">87 points</span> by <a href="user?id=vmorgulis">vmorgulis</a> <a href="item?id=10212770">3 hours ago</a>                  | <a href="item?id=10212770">43 comments</a>
            </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing'>
            <td align="right" valign="top" class="title"><span class="rank">2.</span></td>
            <td>
              <center>
                <a id="up_10213070" href="vote?for=10213070&amp;dir=up&amp;goto=news">
                  <div class="votearrow" title="upvote"></div>
                </a>
              </center>
            </td>
            <td class="title"><span class="deadmark"></span><a href="http://fatsquirrel.org/oldfartsalmanac/random/reverse-engineering-a-vintage-wireless-keypad-with-an-rtl-sdr/">Reverse engineering an ancient wireless security keypad using RTL-SDR</a><span class="sitebit comhead"> (fatsquirrel.org)</span></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_10213070">18 points</span> by <a href="user?id=ursusarcanum">ursusarcanum</a> <a href="item?id=10213070">1 hour ago</a>                  | <a href="item?id=10213070">discuss</a>
            </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing'>
            <td align="right" valign="top" class="title"><span class="rank">3.</span></td>
            <td>
              <center>
                <a id="up_10211985" href="vote?for=10211985&amp;dir=up&amp;goto=news">
                  <div class="votearrow" title="upvote"></div>
                </a>
              </center>
            </td>
            <td class="title"><span class="deadmark"></span><a href="http://www.nytimes.com/2015/09/14/upshot/gaps-in-alumni-earnings-stand-out-in-release-of-college-data.html">Gaps in Alumni Earnings Stand Out in Release of College Data</a><span class="sitebit comhead"> (nytimes.com)</span></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_10211985">90 points</span> by <a href="user?id=jeo1234">jeo1234</a> <a href="item?id=10211985">7 hours ago</a>                  | <a href="item?id=10211985">116 comments</a>
            </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing'>
            <td align="right" valign="top" class="title"><span class="rank">4.</span></td>
            <td>
              <center>
                <a id="up_10212187" href="vote?for=10212187&amp;dir=up&amp;goto=news">
                  <div class="votearrow" title="upvote"></div>
                </a>
              </center>
            </td>
            <td class="title"><span class="deadmark"></span><a href="http://www.slate.com/blogs/the_vault/2015/09/11/history_of_freedom_suits_freedom_petitions_from_dc_courts_available_in_a.html">Browse Documents Submitted by Enslaved People Petitioning for Freedom</a><span class="sitebit comhead"> (slate.com)</span></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_10212187">40 points</span> by <a href="user?id=samclemens">samclemens</a> <a href="item?id=10212187">6 hours ago</a>                  | <a href="item?id=10212187">discuss</a>
            </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing'>
            <td align="right" valign="top" class="title"><span class="rank">5.</span></td>
            <td>
              <center>
                <a id="up_10211616" href="vote?for=10211616&amp;dir=up&amp;goto=news">
                  <div class="votearrow" title="upvote"></div>
                </a>
              </center>
            </td>
            <td class="title"><span class="deadmark"></span><a href="https://github.com/18F/college-choice">College Choice</a><span class="sitebit comhead"> (github.com)</span></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_10211616">65 points</span> by <a href="user?id=danso">danso</a> <a href="item?id=10211616">9 hours ago</a>                  | <a href="item?id=10211616">13 comments</a>
            </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing'>
            <td align="right" valign="top" class="title"><span class="rank">6.</span></td>
            <td>
              <center>
                <a id="up_10212629" href="vote?for=10212629&amp;dir=up&amp;goto=news">
                  <div class="votearrow" title="upvote"></div>
                </a>
              </center>
            </td>
            <td class="title"><span class="deadmark"></span><a href="https://blogs.uw.edu/ajko/2012/08/22/john-carmack-discusses-the-art-and-science-of-software-engineering/">John Carmack discusses the art and science of software engineering (2012)</a><span class="sitebit comhead"> (uw.edu)</span></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_10212629">71 points</span> by <a href="user?id=dshankar">dshankar</a> <a href="item?id=10212629">4 hours ago</a>                  | <a href="item?id=10212629">5 comments</a>
            </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing'>
            <td align="right" valign="top" class="title"><span class="rank">7.</span></td>
            <td>
              <center>
                <a id="up_10213042" href="vote?for=10213042&amp;dir=up&amp;goto=news">
                  <div class="votearrow" title="upvote"></div>
                </a>
              </center>
            </td>
            <td class="title"><span class="deadmark"></span><a href="https://www.quantamagazine.org/20150902-indistinguishability-obfuscation-cryptographys-black-box/" rel="nofollow">A New Design for Cryptography’s Black Box</a><span class="sitebit comhead"> (quantamagazine.org)</span></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_10213042">7 points</span> by <a href="user?id=0cool">0cool</a> <a href="item?id=10213042">1 hour ago</a>                  | <a href="item?id=10213042">1 comment</a>
            </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing'>
            <td align="right" valign="top" class="title"><span class="rank">8.</span></td>
            <td>
              <center>
                <a id="up_10212582" href="vote?for=10212582&amp;dir=up&amp;goto=news">
                  <div class="votearrow" title="upvote"></div>
                </a>
              </center>
            </td>
            <td class="title"><span class="deadmark"></span><a href="http://chris.beams.io/posts/git-commit/">How to Write a Git Commit Message</a><span class="sitebit comhead"> (beams.io)</span></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_10212582">92 points</span> by <a href="user?id=pwg">pwg</a> <a href="item?id=10212582">4 hours ago</a>                  | <a href="item?id=10212582">49 comments</a>
            </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing'>
            <td align="right" valign="top" class="title"><span class="rank">9.</span></td>
            <td>
              <center>
                <a id="up_10212959" href="vote?for=10212959&amp;dir=up&amp;goto=news">
                  <div class="votearrow" title="upvote"></div>
                </a>
              </center>
            </td>
            <td class="title"><span class="deadmark"></span><a href="http://chrisseaton.com/plas15/safec.pdf" rel="nofollow">ManagedC: Memory safe execution of C on a JVM [pdf]</a><span class="sitebit comhead"> (chrisseaton.com)</span></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_10212959">6 points</span> by <a href="user?id=mike_hearn">mike_hearn</a> <a href="item?id=10212959">2 hours ago</a>                  | <a href="item?id=10212959">discuss</a>
            </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing'>
            <td align="right" valign="top" class="title"><span class="rank">10.</span></td>
            <td>
              <center>
                <a id="up_10211485" href="vote?for=10211485&amp;dir=up&amp;goto=news">
                  <div class="votearrow" title="upvote"></div>
                </a>
              </center>
            </td>
            <td class="title"><span class="deadmark"></span><a href="https://github.com/0xAX/linux-insides/blob/master/SysCall/syscall-4.md">Linux-insides: How does the Linux kernel run a program?</a><span class="sitebit comhead"> (github.com)</span></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_10211485">61 points</span> by <a href="user?id=0xAX">0xAX</a> <a href="item?id=10211485">10 hours ago</a>                  | <a href="item?id=10211485">1 comment</a>
            </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing'>
            <td align="right" valign="top" class="title"><span class="rank">11.</span></td>
            <td>
              <center>
                <a id="up_10211724" href="vote?for=10211724&amp;dir=up&amp;goto=news">
                  <div class="votearrow" title="upvote"></div>
                </a>
              </center>
            </td>
            <td class="title"><span class="deadmark"></span><a href="http://motherboard.vice.com/read/this-70-year-old-programmer-is-preserving-an-ancient-coding-language-on-github">Dave Shields, the programmer maintaining SPITBOL</a><span class="sitebit comhead"> (vice.com)</span></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_10211724">60 points</span> by <a href="user?id=dorsatum">dorsatum</a> <a href="item?id=10211724">8 hours ago</a>                  | <a href="item?id=10211724">21 comments</a>
            </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing'>
            <td align="right" valign="top" class="title"><span class="rank">12.</span></td>
            <td>
              <center>
                <a id="up_10211565" href="vote?for=10211565&amp;dir=up&amp;goto=news">
                  <div class="votearrow" title="upvote"></div>
                </a>
              </center>
            </td>
            <td class="title"><span class="deadmark"></span><a href="https://www.python.org/downloads/release/python-350/">Python 3.5.0</a><span class="sitebit comhead"> (python.org)</span></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_10211565">369 points</span> by <a href="user?id=korisnik">korisnik</a> <a href="item?id=10211565">9 hours ago</a>                  | <a href="item?id=10211565">118 comments</a>
            </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing'>
            <td align="right" valign="top" class="title"><span class="rank">13.</span></td>
            <td>
              <center>
                <a id="up_10210776" href="vote?for=10210776&amp;dir=up&amp;goto=news">
                  <div class="votearrow" title="upvote"></div>
                </a>
              </center>
            </td>
            <td class="title"><span class="deadmark"></span><a href="https://github.com/c3x04/Unix-1st-Edition-jun72">Restoration of First Edition Unix Kernel Sources</a><span class="sitebit comhead"> (github.com)</span></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_10210776">93 points</span> by <a href="user?id=nxnfufunezn">nxnfufunezn</a> <a href="item?id=10210776">15 hours ago</a>                  | <a href="item?id=10210776">12 comments</a>
            </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing'>
            <td align="right" valign="top" class="title"><span class="rank">14.</span></td>
            <td>
              <center>
                <a id="up_10212471" href="vote?for=10212471&amp;dir=up&amp;goto=news">
                  <div class="votearrow" title="upvote"></div>
                </a>
              </center>
            </td>
            <td class="title"><span class="deadmark"></span><a href="http://spartacus-educational.com/spartacus-blogURL2.html">Was Rasputin murdered by MI6? (2014)</a><span class="sitebit comhead"> (spartacus-educational.com)</span></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_10212471">20 points</span> by <a href="user?id=snake117">snake117</a> <a href="item?id=10212471">5 hours ago</a>                  | <a href="item?id=10212471">1 comment</a>
            </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing'>
            <td align="right" valign="top" class="title"><span class="rank">15.</span></td>
            <td>
              <center>
                <a id="up_10212899" href="vote?for=10212899&amp;dir=up&amp;goto=news">
                  <div class="votearrow" title="upvote"></div>
                </a>
              </center>
            </td>
            <td class="title"><span class="deadmark"></span><a href="http://www.forbes.com/sites/matthewfrancis/2015/09/13/the-mystery-of-the-vanishing-chinese-neutrinos/" rel="nofollow">The Mystery of the Vanishing Chinese Neutrinos</a><span class="sitebit comhead"> (forbes.com)</span></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_10212899">4 points</span> by <a href="user?id=jonbaer">jonbaer</a> <a href="item?id=10212899">2 hours ago</a>                  | <a href="item?id=10212899">3 comments</a>
            </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing'>
            <td align="right" valign="top" class="title"><span class="rank">16.</span></td>
            <td>
              <center>
                <a id="up_10212197" href="vote?for=10212197&amp;dir=up&amp;goto=news">
                  <div class="votearrow" title="upvote"></div>
                </a>
              </center>
            </td>
            <td class="title"><span class="deadmark"></span><a href="http://www.nybooks.com/articles/archives/2015/sep/24/elmore-leonard-story/">The Elmore Leonard Story</a><span class="sitebit comhead"> (nybooks.com)</span></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_10212197">18 points</span> by <a href="user?id=benbreen">benbreen</a> <a href="item?id=10212197">6 hours ago</a>                  | <a href="item?id=10212197">2 comments</a>
            </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing'>
            <td align="right" valign="top" class="title"><span class="rank">17.</span></td>
            <td>
              <center>
                <a id="up_10211153" href="vote?for=10211153&amp;dir=up&amp;goto=news">
                  <div class="votearrow" title="upvote"></div>
                </a>
              </center>
            </td>
            <td class="title"><span class="deadmark"></span><a href="http://eev.ee/blog/2015/09/12/dark-corners-of-unicode/">Dark corners of Unicode</a><span class="sitebit comhead"> (eev.ee)</span></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_10211153">85 points</span> by <a href="user?id=zeitg3ist">zeitg3ist</a> <a href="item?id=10211153">11 hours ago</a>                  | <a href="item?id=10211153">15 comments</a>
            </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing'>
            <td align="right" valign="top" class="title"><span class="rank">18.</span></td>
            <td>
              <center>
                <a id="up_10212519" href="vote?for=10212519&amp;dir=up&amp;goto=news">
                  <div class="votearrow" title="upvote"></div>
                </a>
              </center>
            </td>
            <td class="title"><span class="deadmark"></span><a href="https://e949a11a-a-62cb3a1a-s-sites.googlegroups.com/site/yanhaomaxwei/Draft_Sep.pdf?attachauth=ANoY7cppFDtpeufllN7tJyJ8Gg9996M2XSWHMo5khEEEWTalrrgbk6O6TbCo1Hq-hPGp5_0uLAv3accHvuUzY6sWVWrVNpzTpd91-gmFE9tED2E0QD4FAApEL9c-65kyu8LshmA3xtIZkRGttVvce_OVC1o4gVOBuiWZ1Y0tjb3Q6Mzky0G_DgKLGNNQoVR4OqaU8iXlQK2QbmGbF5w76VVfo-mDrD9cBg%3D%3D&amp;attredirects=0">Imitation vs. Innovation: Product Similarity Network in the Film Industry [pdf]</a><span class="sitebit comhead"> (googlegroups.com)</span></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_10212519">6 points</span> by <a href="user?id=blumkvist">blumkvist</a> <a href="item?id=10212519">4 hours ago</a>                  | <a href="item?id=10212519">discuss</a>
            </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing'>
            <td align="right" valign="top" class="title"><span class="rank">19.</span></td>
            <td>
              <center>
                <a id="up_10211902" href="vote?for=10211902&amp;dir=up&amp;goto=news">
                  <div class="votearrow" title="upvote"></div>
                </a>
              </center>
            </td>
            <td class="title"><span class="deadmark"></span><a href="http://worrydream.com/EnlightenedImaginationForCitizens/">Enlightened Imagination for Citizens</a><span class="sitebit comhead"> (worrydream.com)</span></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_10211902">25 points</span> by <a href="user?id=mrzool">mrzool</a> <a href="item?id=10211902">7 hours ago</a>                  | <a href="item?id=10211902">6 comments</a>
            </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing'>
            <td align="right" valign="top" class="title"><span class="rank">20.</span></td>
            <td>
              <center>
                <a id="up_10212124" href="vote?for=10212124&amp;dir=up&amp;goto=news">
                  <div class="votearrow" title="upvote"></div>
                </a>
              </center>
            </td>
            <td class="title"><span class="deadmark"></span><a href="http://motherboard.vice.com/read/john-aaron-apollo-12-curiosity-luck-and-sce-to-aux" rel="nofollow">How Curiosity, Luck, and the Flip of a Switch Saved the Moon Program (2014)</a><span class="sitebit comhead"> (vice.com)</span></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_10212124">10 points</span> by <a href="user?id=dctoedt">dctoedt</a> <a href="item?id=10212124">6 hours ago</a>                  | <a href="item?id=10212124">1 comment</a>
            </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing'>
            <td align="right" valign="top" class="title"><span class="rank">21.</span></td>
            <td>
              <center>
                <a id="up_10210867" href="vote?for=10210867&amp;dir=up&amp;goto=news">
                  <div class="votearrow" title="upvote"></div>
                </a>
              </center>
            </td>
            <td class="title"><span class="deadmark"></span><a href="http://calvertjournal.com/features/show/4645">How space travel became the unofficial religion of the USSR</a><span class="sitebit comhead"> (calvertjournal.com)</span></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_10210867">91 points</span> by <a href="user?id=codeas">codeas</a> <a href="item?id=10210867">14 hours ago</a>                  | <a href="item?id=10210867">49 comments</a>
            </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing'>
            <td align="right" valign="top" class="title"><span class="rank">22.</span></td>
            <td>
              <center>
                <a id="up_10211739" href="vote?for=10211739&amp;dir=up&amp;goto=news">
                  <div class="votearrow" title="upvote"></div>
                </a>
              </center>
            </td>
            <td class="title"><span class="deadmark"></span><a href="https://github.com/google/inception">Inception</a><span class="sitebit comhead"> (github.com)</span></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_10211739">32 points</span> by <a href="user?id=miket">miket</a> <a href="item?id=10211739">8 hours ago</a>                  | <a href="item?id=10211739">8 comments</a>
            </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing'>
            <td align="right" valign="top" class="title"><span class="rank">23.</span></td>
            <td>
              <center>
                <a id="up_10210943" href="vote?for=10210943&amp;dir=up&amp;goto=news">
                  <div class="votearrow" title="upvote"></div>
                </a>
              </center>
            </td>
            <td class="title"><span class="deadmark"></span><a href="https://aws.amazon.com/blogs/aws/introducing-the-aws-sdk-for-c/">AWS SDK for C++</a><span class="sitebit comhead"> (amazon.com)</span></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_10210943">62 points</span> by <a href="user?id=antaviana">antaviana</a> <a href="item?id=10210943">13 hours ago</a>                  | <a href="item?id=10210943">17 comments</a>
            </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing'>
            <td align="right" valign="top" class="title"><span class="rank">24.</span></td>
            <td></td>
            <td class="title"><span class="deadmark"></span><a href="https://flexport.com/careers" rel="nofollow">Flexport (YC W14, Automating Global Logistics) is hiring engineers</a><span class="sitebit comhead"> (flexport.com)</span></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              2 hours ago
            </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing'>
            <td align="right" valign="top" class="title"><span class="rank">25.</span></td>
            <td>
              <center>
                <a id="up_10212065" href="vote?for=10212065&amp;dir=up&amp;goto=news">
                  <div class="votearrow" title="upvote"></div>
                </a>
              </center>
            </td>
            <td class="title"><span class="deadmark"></span><a href="http://www.thespacereview.com/article/2822/1">Back from the brink: Akatsuki returns to Venus</a><span class="sitebit comhead"> (thespacereview.com)</span></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_10212065">9 points</span> by <a href="user?id=7952">7952</a> <a href="item?id=10212065">7 hours ago</a>                  | <a href="item?id=10212065">discuss</a>
            </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing'>
            <td align="right" valign="top" class="title"><span class="rank">26.</span></td>
            <td>
              <center>
                <a id="up_10210685" href="vote?for=10210685&amp;dir=up&amp;goto=news">
                  <div class="votearrow" title="upvote"></div>
                </a>
              </center>
            </td>
            <td class="title"><span class="deadmark"></span><a href="http://gafferongames.com/2015/09/12/is-it-just-me-or-is-networking-really-hard/">Is it just me or is networking really hard?</a><span class="sitebit comhead"> (gafferongames.com)</span></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_10210685">310 points</span> by <a href="user?id=rinesh">rinesh</a> <a href="item?id=10210685">16 hours ago</a>                  | <a href="item?id=10210685">153 comments</a>
            </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing'>
            <td align="right" valign="top" class="title"><span class="rank">27.</span></td>
            <td>
              <center>
                <a id="up_10212204" href="vote?for=10212204&amp;dir=up&amp;goto=news">
                  <div class="votearrow" title="upvote"></div>
                </a>
              </center>
            </td>
            <td class="title"><span class="deadmark"></span><a href="http://fqxi.org/community/articles/display/205" rel="nofollow">Solar-System-Sized Experiment to Put Time to the Test</a><span class="sitebit comhead"> (fqxi.org)</span></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_10212204">8 points</span> by <a href="user?id=dnetesn">dnetesn</a> <a href="item?id=10212204">6 hours ago</a>                  | <a href="item?id=10212204">discuss</a>
            </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing'>
            <td align="right" valign="top" class="title"><span class="rank">28.</span></td>
            <td>
              <center>
                <a id="up_10212475" href="vote?for=10212475&amp;dir=up&amp;goto=news">
                  <div class="votearrow" title="upvote"></div>
                </a>
              </center>
            </td>
            <td class="title"><span class="deadmark"></span><a href="http://arxiv.org/abs/1411.1001" rel="nofollow">How to Elect a Leader Faster Than a Tournament (2014)</a><span class="sitebit comhead"> (arxiv.org)</span></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_10212475">4 points</span> by <a href="user?id=jbapple">jbapple</a> <a href="item?id=10212475">5 hours ago</a>                  | <a href="item?id=10212475">discuss</a>
            </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing'>
            <td align="right" valign="top" class="title"><span class="rank">29.</span></td>
            <td>
              <center>
                <a id="up_10211227" href="vote?for=10211227&amp;dir=up&amp;goto=news">
                  <div class="votearrow" title="upvote"></div>
                </a>
              </center>
            </td>
            <td class="title"><span class="deadmark"></span><a href="http://www.mathcs.emory.edu/~cheung/Courses/255/Syllabus/8-SPARC/recursion.html">Recursion in SPARC</a><span class="sitebit comhead"> (emory.edu)</span></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_10211227">23 points</span> by <a href="user?id=ishtu">ishtu</a> <a href="item?id=10211227">11 hours ago</a>                  | <a href="item?id=10211227">2 comments</a>
            </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing'>
            <td align="right" valign="top" class="title"><span class="rank">30.</span></td>
            <td>
              <center>
                <a id="up_10210814" href="vote?for=10210814&amp;dir=up&amp;goto=news">
                  <div class="votearrow" title="upvote"></div>
                </a>
              </center>
            </td>
            <td class="title"><span class="deadmark"></span><a href="https://www.bc.edu/content/dam/files/schools/csom_sites/finance/Schmalz-031115.pdf">Anti-Competitive Effects of Common Ownership [pdf]</a><span class="sitebit comhead"> (bc.edu)</span></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_10210814">26 points</span> by <a href="user?id=taofu">taofu</a> <a href="item?id=10210814">14 hours ago</a>                  | <a href="item?id=10210814">4 comments</a>
            </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class="morespace" style="height:10px"></tr>
          <tr>
            <td colspan="2"></td>
            <td class="title"><a href="news?p=2" rel="nofollow">More</a></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <img src="s.gif" height="10" width="0">
        <table width="100%" cellspacing="0" cellpadding="1">
          <tr>
            <td bgcolor="#ff6600"></td>
          </tr>
        </table>
        <br>
        <center><a href="http://www.ycombinator.com/apply/">
          Applications are open for YC Winter 2016
          </a>
        </center>
        <br>
        <center>
          <span class="yclinks"><a href="newsguidelines.html">Guidelines</a>
          | <a href="newsfaq.html">FAQ</a>
          | <a href="mailto:hn@ycombinator.com">Support</a>
          | <a href="https://github.com/HackerNews/API">API</a>
          | <a href="security.html">Security</a>
          | <a href="lists">Lists</a>
          | <a href="bookmarklet.html">Bookmarklet</a>
          | <a href="dmca.html">DMCA</a>
          | <a href="http://www.ycombinator.com/apply/">Apply to YC</a>
          | <a href="mailto:hn@ycombinator.com">Contact</a></span><br><br>
          <form method="get" action="//hn.algolia.com/">Search:
            <input type="text" name="q" value="" size="17">
          </form>
        </center>
      </td>
    </tr>
  </table>
</center>

<%= yield %>

</body>
</html>
